.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
  align-items: center;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: rgba(126, 34, 206, 1);
  text-align: center;
}

.placeholder {
  width: 50%;
  aspect-ratio: 3/2;
}

.container p {
  color: rgba(131, 131, 131, 1);
  font-family: Roboto;
  font-weight: 400;
  line-height: 26.94px;
  text-align: center;
}

.createBtn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: rgba(33, 25, 53, 1);
  padding: 0.8rem 1.7rem;
  border: none;
  color: rgba(248, 248, 248, 1);
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.createBtn img {
  width: 1.8rem;
}